<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.adobe.marketing.mobile.messagingsample.MessagingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.adobe.marketing.mobile.messagingsample.ThirdLevelActivity"
            android:exported="true"
            android:parentActivityName="com.adobe.marketing.mobile.messagingsample.SecondLevelActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="thirdpage"
                    android:scheme="demoapp" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.adobe.marketing.mobile.messagingsample.SecondLevelActivity"
            android:exported="true"
            android:parentActivityName="com.adobe.marketing.mobile.messagingsample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="secondpage"
                    android:scheme="demoapp" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.adobe.marketing.mobile.messagingsample.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.adobe.marketing.mobile.messagingsample.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.adobe.marketing.mobile.messagingsample.NotificationBroadcastReceiver" />
    </application>

</manifest>